.advantages__title {
    display: none;
}

.advantages__list {
    display: flex;
    gap: 30px;
}

.advantages__item {
    width: 270px;
}

.advantages__icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    background-color: var(--background-secondary-color);
    border-radius: 4px;
    margin-bottom: 30px;
}