.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &.no-padding-bottom {
    
        padding-bottom: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }
}
